<div class="pages-container">
  <div class="page page-home show-page">
    <div class="header-container">
      <header class="header">
        <ul class="l-menu list-inline menu">
          <li ngClass="{{showSubMenu}}">
            <a href="#" class="toggle-submenu" (click)="toggleSubMenu($event)"><span class="icon icon-settings"></span></a>
            <ul class="submenu">
              <li><a href="#" (click)="switchPage('fp')">Top Stories</a></li>
              <li><a href="#" (click)="switchPage('show')">Show HN</a></li>
              <li><a href="#" (click)="switchPage('ask')">Ask HN</a></li>
              <li><a href="#" (click)="switchPage('new')">Newest</a></li>
              <li><a href="#" (click)="switchPage('best')">Best Stories</a></li>
              <li><a href="#" (click)="switchPage('job')">Job Stories</a></li>
              <!--<li><a href="#" (click)="settings()">Settings</a></li>-->
            </ul>
          </li>
        </ul>
        <h1>Hacker News</h1>
        <ul class="r-menu list-inline menu">
          <li><a href="#" (click)="reload($event)" class="reload"><span class="icon icon-refresh"></span></a></li>
        </ul>
      </header>
    </div>
    <section class="pagebd-container">
      <div class="bd">
        <div class="show-loading" [hidden]="!showLoading"><div class="circle"></div><br>Loading...</div>
        <ul class="list">
          <li *ngFor="let item of items">
            <a href="#/article/{{item.id}}" class="story">
              <h3>{{item.title}}</h3>

              <span class="points">{{item.score}}</span>
              <span class="author">{{item.by}}</span>
              <span class="time-ago">{{item.time | amFromUnix | amTimeAgo}}</span>
              <span class="url">{{item.url | prettyUrl}}</span>
            </a>
            <a href="#/comments/{{item.id}}" class=" comments">
              <span class="icon icon-bubble"></span>{{item.descendants}}
            </a>
          </li>
        </ul>
        <div class="more" [hidden]="!showLoadMore"><a class="load-more" (click)="loadNext($event)">Load More</a></div>
      </div>
    </section>
  </div>

  <div class="page page-article-content" data-page="page-article-content">
    <router-outlet></router-outlet>
  </div>
</div>
