<div class="header-container" *ngIf="item">
  <header class="header">
    <div class="l-menu "><a href="#" (click)="loc.back();" class="back back-home"><span class="icon icon-arrow-left"></span></a></div>
    <h1>Article</h1>
    <div class="r-menu"><a href="#/comments/{{item.id}}" class="show-comments"><span class="icon icon-bubble"></span></a></div>
  </header>
</div>

<section class="pagebd-container" *ngIf="item">
  <div class="bd">
    <div class="article-meta">
      <h3 class="title">{{item.title}}</h3>
      <span class="points">{{item.score}}</span>
      <span class="author"> {{item.by}}</span>
      <span class="time-ago">{{item.time | amFromUnix | amTimeAgo}}</span>
      <span class="comments-count"><span class="icon icon-bubble"></span>{{item.descendants}}</span>
      <a class="url article-url" href="{{item.url}}"><span class="icon icon-export"></span> {{item.url | prettyUrl}}</a>
      <a class="url hn-url" href="https://news.ycombinator.com/item?id={{item.id}}"><span class="icon icon-export"></span> news.ycombinator.com/item?id={{item.id}}</a>
    </div>
    <div class="article-content">
      <div class="show-loading" [hidden]="content != null"><div class="circle"></div><br>Loading...</div>
      <div *ngIf="content" innerHTML="{{content.summary}}"></div>
    </div>
  </div>
</section>
